<ion-header>
  <ion-toolbar>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">رقم الهاتف</ion-label>
    <ion-input [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="sendOTP()">إرسال OTP</ion-button>

  <ion-item *ngIf="showOTP">
    <ion-label position="floating">OTP</ion-label>
    <ion-input [(ngModel)]="otpCode"></ion-input>
  </ion-item>
  <ion-button *ngIf="showOTP" expand="full" (click)="verifyOTP()">تأكيد OTP</ion-button>

  <div id="recaptcha-container"></div>
</ion-content>
