<ion-content class="ion-padding login-page">
  <div class="login-card">
    <h1 class="title">Bienvenue 👋</h1>
    <p class="subtitle">Connectez-vous avec Google puis complétez vos informations</p>

  
    <!-- Formulaire -->
    <form [formGroup]="loginForm" (ngSubmit)="saveProfile()" >
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched">
        Nom est requis (min 3 caractères)
      </ion-note>

      <ion-item>
        <ion-label position="floating">Téléphone</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="loginForm.get('phone')?.invalid && loginForm.get('phone')?.touched">
        Numéro invalide (8–15 chiffres)
      </ion-note>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
        Sauvegarder
      </ion-button>
    </form>
  </div>
</ion-content>
