<ion-content class="login-bg">
  <div class="header-shape"></div>
  <div class="login-form">
    <h2>Sign in</h2>
    <ion-item lines="none">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input type="email" placeholder="demo@email.com"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Enter your password"></ion-input>
    </ion-item>

    <div class="login-options">
      <ion-checkbox slot="start"></ion-checkbox>
      <label>Remember Me</label>
      <a class="forgot">Forgot Password?</a>
    </div>

    <ion-button  expand="block" class="bt">Login</ion-button>
    <div class="signup">Don't have an Account? <a>Sign up</a></div>
  </div>
</ion-content>