<ion-content class="login-bg">
  <div class="header-shape"></div>
  <div class="login-form">
    <h2>Sign in</h2>
    <ion-item lines="none">
      <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
      <ion-input  [(ngModel)]="phoneNumber" placeholder="votre telephone"></ion-input>
    </ion-item>
        <ion-button expand="block" class="bt"  (click)="sendOT()">Login</ion-button>


    <ion-item lines="none" *ngIf="showOTP">
      <ion-icon slot="start" name="barcode-outline"></ion-icon>
      <ion-input   [(ngModel)]="otpCode" placeholder="Enter your password"></ion-input>
    </ion-item>

    
    <ion-button *ngIf="showOTP" expand="block" class="bt"  (click)="verifyOT()">Login</ion-button>
      <div id="recaptcha-container"></div>

  </div>
</ion-content>