<ion-content class="login-bg">
  <div class="login-container">

    <!-- Logo / Image -->
    <div class="logo">
      <img src="assets/logo3.png" alt="Google Login" />
    </div>

    <!-- Title -->
    <h2 class="title">Bienvenue 👋</h2>
    <p class="subtitle">
      Connectez-vous facilement avec votre compte Google
    </p>

    <!-- Google Button -->
    <ion-button expand="block" color="light" class="google-btn" (click)="googleLogin()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Continuer avec Google
    </ion-button>
     <!-- Google Button -->
    <ion-button expand="block" color="light" class="facebook-btn" >
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Continuer avec Facebook
    </ion-button>
     <!-- Google Button -->
    <ion-button expand="block" color="light" class="apple-btn" >
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Continuer avec Apple
    </ion-button>
  </div>
</ion-content>
