.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  text-align: center;
  padding: 2rem;
}

.logo img {
  width: 120px;
  margin: 0 auto 1.5rem;
  border-radius: 20%;
  background: white;
  padding: 15px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.subtitle {
  opacity: 0.9;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.google-btn {
  --background: white;
  --color: #444;
  font-weight: bold;
  border-radius: 50px;
  --box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}

.google-btn ion-icon {
  color: #db4437;
  font-size: 20px;
}
.facebook-btn ion-icon {
  color:blue;
  font-size: 20px;
}
.apple-btn ion-icon {
  color: darkgray;
  font-size: 20px;
}