<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>

    <ion-title class="title">Add product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <div class="add-product-container">
    
      <form [formGroup]="productForm" >
        <!-- اسم المنتج -->
        
 <div class="form-group">
<ion-item>
      <ion-select formControlName="type" placeholder="Choisissez le type">
      <ion-select-option value="voile">Voile</ion-select-option>
      <ion-select-option value="banana">Robe</ion-select-option>
      <ion-select-option value="orange">Sac</ion-select-option>
    </ion-select>
  </ion-item>

 </div>
        
  
        <div class="form-group">
          <label for="name">Prix</label>
          <ion-input id="name" type="number" formControlName="price" placeholder="Entrez le prix "></ion-input>
        </div>

        
    
        <!-- سعر المنتج -->
        <div class="form-group">
          <label for="price">Prix reduit (pas obligatoire)</label>
          <ion-input id="price" type="number" formControlName="priceReduit" placeholder="Entrez le prix"></ion-input>
        </div>
    
        <!-- وصف المنتج -->
        <div class="form-group">
        <label for="description">Description</label>
        <ion-textarea  id="description" formControlName="description" placeholder="Entrez une description"></ion-textarea>

        </div>
    
       <!--  رفع صورة المنتج -->
       <div class="form-group">
          <label for="imageFile">Photo de voiture</label>
          <input id="imageFile" type="file" #fileInput multiple  (change)="onFileChange($event)" />
        </div>  

        <!-- معاينة الصورة -->
        <div class="image-preview" *ngIf="imagePreview">
          <h4>Aperçu de l'image :</h4>
          <img [src]="imagePreview" alt="Aperçu de l'image" />
        </div> 
 
        <!-- زر الإضافة -->
  <ion-button expand="block" shape="round" class="btn">
        <ion-icon  slot="start"></ion-icon>
        ADD 
      </ion-button>
      </form>
    </div>


</ion-content>
