<ion-header translucent>
 <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <!-- Product Image -->
  <div class="image-container">
    <img src="assets/bag.jpg" alt="Pink Bag" />
  </div>

  <!-- Details Container -->
  <div class="details-container">

    <h2 class="product-title">Pink Bag</h2>
    
    <div class="price-row">
      <span class="old-price">$899</span>
      <span class="new-price">$789</span>
    </div>

    <!-- <div class="section">
      <p class="label">Size</p>
      <div class="sizes">
        <ion-button fill="outline" [color]="selectedSize === 'S' ? 'primary' : 'medium'" size="small" (click)="selectSize('S')">S</ion-button>
        <ion-button fill="outline" [color]="selectedSize === 'M' ? 'primary' : 'medium'" size="small" (click)="selectSize('M')">M</ion-button>
        <ion-button fill="outline" [color]="selectedSize === 'L' ? 'primary' : 'medium'" size="small" (click)="selectSize('L')">L</ion-button>
      </div>
    </div>
 -->
   <!--  <div class="section">
      <p class="label">Color</p>
      <div class="colors">
        <div class="color-dot" style="background-color: #e3d98d;"></div>
        <div class="color-dot" style="background-color: #000;"></div>
        <div class="color-dot" style="background-color: #fff;"></div>
      </div>
    </div> -->

    <div class="section">
      <p class="label">About</p>
      <p class="description">
        Occaecat qui sit quis labore reprehenderit nulla. Amet pariatur voluptate laboris sit culpa magna. Ex minim in aliqua duis. Cupidatat sunt...
      </p>
    </div>

    <div class="bottom-actions">
      <div class="quantity">
        <ion-button fill="clear" (click)="decreaseQty()">-</ion-button>
        <span>{{ quantity }}</span>
        <ion-button fill="clear" (click)="increaseQty()">+</ion-button>
      </div>

      <ion-button expand="block" class="btn" (click)="addToCart()">Add to cart</ion-button>
    </div>

  </div>
</ion-content>
