<ion-header translucent>
  <ion-toolbar>
   <ion-buttons slot="start">
        <ion-back-button defaultHref="/product"></ion-back-button>
      </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- Profile Card -->
  <div class="profile-card">
<ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>    <div class="profile-info">
      <h2>Itunuoluwa Abidoye</h2>
      <p>@Itunuoluwa</p>
    </div>
    <ion-button fill="clear" class="edit-btn">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Settings List -->
  <ion-list lines="none" class="settings-list">

    <ion-item>
      <ion-icon name="person-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>My Account</h3>
        <p>Make changes to your account</p>
      </ion-label>
      <ion-icon name="alert-circle" color="danger" slot="end"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-icon name="people-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Saved Beneficiary</h3>
        <p>Manage your saved account</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Face ID / Touch ID</h3>
        <p>Manage your device security</p>
      </ion-label>
      <ion-toggle slot="end" [(ngModel)]="faceIdEnabled"></ion-toggle>
    </ion-item>

    <ion-item button>
      <ion-icon name="shield-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Two-Factor Authentication</h3>
        <p>Further secure your account for </p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-icon name="log-out-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Log out</h3>
        <p>Further secure your account for safety</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

  </ion-list>

  <!-- More Section -->
  <ion-list lines="none" class="more-section">
    <ion-item button>
      <ion-icon name="help-circle-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Help & Support</h3>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-icon name="heart-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>About App</h3>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>



