<ion-header translucent>
  <ion-toolbar class="toolbar">
   <ion-buttons slot="start">
        <ion-back-button defaultHref="/product"></ion-back-button>
      </ion-buttons>

    <ion-title class="title">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- Profile Card -->
  <div class="profile-card">
<ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>    <div class="profile-info">
      <h2>Itunuoluwa Abidoye</h2>
      <p>@Itunuoluwa</p>
    </div>
    <ion-button fill="clear" class="edit-btn">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Settings List -->
  <ion-list lines="none" class="settings-list">

  

    <ion-item button>
      <ion-icon name="bar-chart-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Historique des ventes</h3>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-icon name="log-out-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Deconexion</h3>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

  </ion-list>

  <!-- More Section -->
  <ion-list lines="none" class="more-section">
    <ion-item button>
      <ion-icon name="help-circle-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3>Aide & Support</h3>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

   
  </ion-list>

</ion-content>



