
.title{
 text-align: center;
      font-size: 20px;
      margin: 20px 0;
      height: 50%;
     

}

.toolbar{
--background: #ff8f8f;
    padding-top: 50px;

}




.viewport {
  height: 100vh; /* ضروري */
  width: 100%;
}

.fullscreen-viewport {
  scroll-snap-type: y mandatory; /* يعطي swipe مثل TikTok */
  overflow-y: scroll;
}

.fullscreen-item {
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}

.fullscreen-media {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 32px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.grid-viewport .products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}

.grid-viewport .product-card {
  width: 100%;
}