

.title{
 text-align: center;
   color: black;
      font-size: 20px;
      margin: 12px 0;
        font-family: "Times New Roman", Times, serif;
        font-style: normal;

}

.toolbar{
--background: #ff8f8f;
    padding-top: 50px;

}
.toolbar2{
--background: #ff8f8f;
    padding-top: 50px;

}
.toolbarSesrch{
   
}

.footer{
   border-bottom-left-radius: 60% 20%;
    border-bottom-right-radius: 60% 20%;
}

ion-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  ion-img {
    height: 160px;
    object-fit: cover;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 5px;

    .sale-price {
      color: red;
      font-weight: bold;
    }

    .old-price {
      color: gray;
      text-decoration: line-through;
      font-size: 14px;
    }
  }

  .title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
  }

  .heart-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    color: red;
    font-size: 20px;
  }
}
